<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361929807072-9fuphgpm7i8qnnu9jmd88626bhp2q0dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361929807072-9fuphgpm7i8qnnu9jmd88626bhp2q0dp</string>
	<key>API_KEY</key>
	<string>AIzaSyCOccr2NAUFARz6zuZEVxJzScJqPqI6Co4</string>
	<key>GCM_SENDER_ID</key>
	<string>361929807072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UAKitLessons.fireBaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-c6bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-c6bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361929807072:ios:48da385818d45df4972c85</string>
</dict>
</plist>